@import "../../pstj/less/material/button";
@import "../../pstj/less/material/checkbox";
@import "../../pstj/less/material/colors/orange";
@import "../../pstj/less/material/input";
@import "../../pstj/less/material/radiobutton";
@import "../../pstj/less/material/radiogroup";
@import "../../pstj/less/material/shadow";
@import "../../pstj/less/material/toast";
@import "../../pstj/less/material/togglebutton";
@import "../../pstj/less/material/typography";
@import "../../pstj/less/ng-cloak";
@import "../../pstj/less/reset";
@import "../../pstj/less/widgets/swiper";
@import "app/auth";
@import "app/colors";
@import "app/buycredit";
@import "app/errormessage";
@import "app/faq";
@import "app/longa-alert";
@import "app/longa-balance";
@import "app/longa-feed";
@import "app/mainapp";
@import "app/menu";
@import "app/pages";
@import "app/service";
@import "app/startscreen";
@import "app/terms";
@import "app/userauth";

@input-accent-color: @orangeA400;
@fab-color: white;
@fab-background-color: @orangeA400;

// Disable focus outline (Android)
*:focus {
  outline-style:none;
}

// Make iOS NOT display the focus when you tap.
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Some tweaking for ipad mini and chrome mobile
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

select {
  height: 35px;
  margin: 5px 0 5px auto;
  width: 70%;
  display: table;
}

label {
  padding: 9px 0;
  float: left;
}

.longa-app-auth {
  &:extend(.fit);
  min-height: 100%;

  .linklike {
    padding: 10px 0;
    cursor: pointer;
    .typography(#00f, 87, 11px, @typography-weight-light);
  }

  .help-info {
    .typography(#c5c5c5, 100, 12px);
  }

  input {
    width: 280px;
  }

}

.longa-form-padding {
  &:extend(.center);
  &:extend(.center-justified);
  &:extend(.vertical);
  padding: 15px;
  min-height: 100%;
}

.longa-login-form,
.longa-recover-form,
.longa-registration-form {
  width: 310px;
  position: relative;
  padding: 15px;
  margin: 10px;

  .material-checkbox-content {
    .caption(black);
  }

  .material-checkbox {
    padding: 10px 0;
  }

  .material-input {
    padding: 0;
  }


  .button-container {
    &:extend(.horizontal);
    &:extend(.end-justified);
  }
}


// The drawer header portion
.longa-app-drawer-header {
  background-color: @longa-accent-color;
  height: 60px;
}


// Tweaks that allow only the menu to scroll instead of all the sidebar.
.longa-app-sidebar {
  position: relative;
  height: 100%;
  display: block;
}

// Fixes the scrolling header panel in sidebar menu
.longa-app-sidebar-menu > .material-header-panel > .material-header-panel-outer-container > div.material-header-panel-header {
  height: 0px;
}

// Fix the main header to have the same background as the header panel.
.longa-main-header {
  background-color: @longa-accent-color;
}

// Makes the header panels to not really have headers. This is mostly design
// flaw instead of actual need...
.material-header-panel.noop >
    .material-header-panel-outer-container >
        .material-header-panel-header{
  height: 0px;
}

// Makes the content fit under the main header.
.longa-app-content-pages {
  position: relative;
}

.longa-registration-form {
  margin: 10px auto;
}

// Signals pages tweaks
.longa-app-signals-page > .material-fab {
  position: absolute;
  top: 11px ;
  right: 1em;
}

.longa-sort-header {
  height: 40px;

  & > .longa-app-list-header {
    width: 100%
  }
}

.longa-app-signal-record {
  width: 100%;
  height: 50px;

  & > &-content {
    width: 100%;
    height: 50px;
  }
}
