@import "../../../pstj/less/material/layout";
@import "../../../pstj/less/material/typography";
@import "colors";

.longa-app-alert {
  /*default from .body1*/
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  position: relative;

  & > .ripple {
    background-color: white;
    color: @longa-secondary-accent-color;
  }

  &-record {
    border-bottom: 1px solid #EAEAEA;
    padding: 5px;
    position: relative;
  }
  &-alert-message {
    color: rgba(0, 0, 0, 0.87);
    padding: 5px;
  }
  &-from {
    padding: 5px 5px;
    font-size: .8em;
    opacity: .56;
  }
  &-user {
    color: @longa-accent-color;
  }
}

.longa-app-alerts {
  &-button-container {
    &:extend(.center);
    &:extend(.horizontal);
    &:extend(.end-justified);
  }

  &-note {
    padding-top: 20px;
    .body2(black);
  }
}
