
.longa-app-pages {
  display: block;
  min-height: 100%;
  &:extend(.fit);

  & > .longa-app-page {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    min-height: 100%;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms;
    /* @alternate */
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms;
  }

  & > .longa-app-page-selected {
    display: block;
  }
}


