{namespace longa.template.pages}


/** Themplate for the Pages component. */
{template .Pages}
  <div is class="{css longa-app-pages}"></div>
{/template}

/** Template for the paged item */
{template .Page}
  <div is class="{css longa-app-page}"></div>
{/template}
